<div class="main grid-container">
  <div class="grid-column col-12">
    <div class="header flex-container">
      <h1 class="flex-column col-6">Contacts</h1>
      <div class="flex-column col-6">
        <div class="flex-container justify-content-end">
          <div class="flex-column">
            <button class="btn btn-red">Create</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="grid-column col-4"></div>
  <div class="grid-column col-4">
    <app-form></app-form>
  </div>
  <div class="grid-column col-4"></div>
  <div class="grid-column col-12">
    <div class="grid-container">
        <div class="grid-column col-1"></div>
      <div class="grid-column col-2">Id</div>
      <div class="grid-column col-2">Firstname</div>
      <div class="grid-column col-2">Lastname</div>
      <div class="grid-column col-2">Status</div>
      <div class="grid-column col-2">Action</div>
      <div class="grid-column col-1"></div>
    </div>
    <div class="grid-container">
        <div class="grid-column col-1"></div>
      <div class="grid-column col-2">1</div>
      <div class="grid-column col-2">Irha</div>
      <div class="grid-column col-2">Bi</div>
      <div class="grid-column col-2">Active</div>
      <div class="grid-column col-2">Action</div>
      <div class="grid-column col-1"></div>
    </div>
  </div>
</div>
