<div class="grid-container">
    <div class="grid-column col-6">Firstname: </div>
    <div class="grid-column col-6"><input type="text" class="input"></div>
    <div class="grid-column col-6">Lastname: </div>
    <div class="grid-column col-6"><input type="text" class="input"></div>
    <div class="grid-column col-6">Status: </div>
    <div class="grid-column col-6"><input type="checkbox" name="status" id="">Active<input type="checkbox" name="status" id="">Inactive</div>
    <div class="grid-column col-12 ">
        <button>Submit</button>
    </div>
</div>